$oa_light: #ffffff;
$oa_dark: #060f19;
$oa_light_dark: #182028;
$oa_dark_orange: #1b1215;
$oa_primary: #02b0e8;
$oa_success: #13be13;
$oa_success_dark: #00a098;
$oa_orange: #ff7f24;
$oa_danger: #c22e2a;
$oa_danger_dark: #b00a1b;
